{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Coffeed</title>
	
		<link rel="stylesheet" href="{% static "css/style.css" %}">
	</head>

	<body>

		<div class="container">
			<!-- START HERE --> 

			<h1>Hi, We are Yelp for Lawyers.</h1>
			<h2>We help you find great Lawyers to work help you.</h2>

			<p>We believe that more information helps you make better decisions. Here at YelpForLawers, we provide you with detailed information on lawyers and legal issues so that you can make the choices that are right for you. Sign up to be the first to get updates &amp; follow us on social media.</p>

			<p>Email us now for a PDF of the Top 10 Law Firms in Utah: <a mailto:"hello@getcoffeed.com">service@yelpforlawyers.com</a></p>

			<a href="https://twitter.com/getcoffeed" target="_blank">
				<img src="{% static "images/twitter.png" %}" alt="Twitter">
			</a>

			<a href="https://www.facebook.com/getcoffeed" target="_blank">
				<img src="{% static "images/facebook.png" %}" alt="Facebook">
			</a>
			
			<!-- END HERE --> 
		</div><!-- .container --> 

	</body>
</html>